# compiled python files
__pycache__/
*.py[cod]
*$py.class

# virtual environments
.venv/
venv/
env/
ENV/

# jupyter checkpoints
.ipynb_checkpoints
/.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# logs
*.log
nbconvert_log.txt

# os junk
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# editor files
.vscode/
.idea/
*.swp
*.swo
